{% extends 'base_user_center.html' %}
{% load staticfiles %}
{# 页面右侧主要内容块 #}
{% block right_content %}
    <div class="right_content clearfix">
        <h3 class="common_title2">全部订单</h3>
        {% for order in orders %}
            <ul class="order_list_th w978 clearfix">
                <li class="col01">{{ order.update_time }}</li>
                <li class="col02">订单号：{{ order.order_id }}</li>
                    <li class="col02 stress">{{ order.status_name }}</li>

            </ul>

            <table class="order_list_table w980">
            {% csrf_token %}
                <tbody>
                    <tr>
                        <td width="55%">
                            {% for order_sku in order.skus %}
                            <ul class="order_goods_list clearfix">
                                <li class="col01"><img src="{{ order_sku.sku.image.url }}"></li>
                                <li class="col02">{{ order_sku.sku.name }}
                                    <em>{{ order_sku.price }}元/{{ order_sku.sku.unit }}</em></li>
                                <li class="col03">{{ order_sku.count }}</li>
                                <li class="col04">{{ order_sku.amount }}元</li>
                            </ul>
                            {% endfor %}
                        </td>
                        <td width="15%">{{ order.total_pay }}(含运费{{ order.transit_price }})元</td>
                            <td width="15%">{{ order.status_name }}</td>
                            <td width="15%">
                                <a href="javascript:;" order_id="{{ order.order_id }}" status="{{ order.order_status }}"
                                   class="oper_btn">去付款</a></td>

                    </tr>
                </tbody>
            </table>
        {% endfor %}

        <div class="pagenation">
            {% if order_page.has_previous %}
            <a href="{% url 'user:user_order' order_page.previous_page_number %}">&lt;上一页</a>
            {% endif %}

            {% for page_index in pages %}
                <a href="{%  url 'user:user_order' page_index %}"
                   {% if page_index == order_page.number %}class="active"{% endif %}>{{ page_index }}</a>
            {% endfor %}

            {% if order_page.has_next %}
            <a href="{%  url 'user:user_order' order_page.next_page_number %}">下一页&gt;</a>
            {% endif %}
        </div>

    </div>

{% endblock right_content %}
{% block bottomfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript">

        $('.oper_btn').each(function(){
            status = $(this).attr('status');
            if(status == '1'){
                $(this).text('去付款');
            }
            else if(status == '4'){
                $(this).text('去评价');
            }
            else if(status == '5'){
                $(this).text('已完成');
            }


        })

        $('.oper_btn').click(function(){
            //获取订单状态
            status = $(this).attr('status');
            if(status == '1'){
                //去付款
                //获取订单id
                order_id = $(this).attr('order_id');
                csrf = $('input[name="csrfmiddlewaretoken"]').val();
                //组织参数
                params = {'order_id':order_id, 'csrfmiddlewaretoken':csrf};
                //发起ajax请求
                $.post('/order/pay', params, function(data){
                    if(data.res == 3){
                        //请求成功,引导用户到支付页面
                        // 打开付款页面-->如果跳转到付款页面的话,订单页面看不到
                        window.open(data.pay_url);
                        //打开/order/pay/check获取用户支付结果
                        //ajax post请求
                        $.post('/order/pay/check', params, function(data){
                            if(data.res == 3){
                                //支付成功
                                alert('支付成功');
                                //刷新页面，更新订单状态
                                location.reload();
                            }
                            else{
                                alert(data.errmsg)
                            }

                        })
                    }
                    else{
                        alert(data.errmsg)
                    }
                })
            }
            else{
                //进行其他操作
            }

        })


    </script>

{% endblock bottomfiles %}
